{% if data is not empty %}
<tr>
    <td>
        <strong class="d-block text-muted" style="margin-top:5px">{% if data|length == 1 %}{{ titleSingular }}{% else %}{{ titlePlural }}{% endif %}</strong>
        {% if data|length == 1 %}
            {{ data[0]|trans|raw }}
        {% else %}
            <table class="table table-striped table-sm">
                {% for entry in data %}
                    <tr>
                        <td>
                            {{ entry|trans|raw }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </td>
</tr>
{% endif %}